fastapi
uvicorn[standard]
python-multipart
pydantic
pandas
numpy
scikit-learn
imbalanced-learn
joblib
sqlalchemy[aio]
asyncpg
alembic
python-dotenv
aiofiles
python-magic
chardet
pydantic-settings
fairlearn